@use '~/styles/mixin.module.scss' as *;
@use '~/styles/variable.module.scss' as *;

.wrap {
  .top-summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .summary-box {
      width: 100%;
      color: white;
      padding: 24px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .top {
        @include flexBoxStyle(center, space-between, 0);
      }
      .bottom {
        @include flexBoxStyle(flex-end, space-between, 0);
        p {
          font-size: 26px;
          font-weight: 550;
        }

        span {
          font-size: 14px;
          font-weight: 500;
          background-color: rgb(17, 194, 17, 0.7);
          padding: 5px 10px;
          border-radius: 16px;
        }
      }

      &:first-child {
        background-color: $blue-admin-primary;
      }
      &:nth-child(2) {
        background-color: rgb(58, 58, 58);
      }
      &:nth-child(3) {
        background-color: rgb(39, 227, 39);
      }
      &:nth-child(4) {
        background-color: rgb(244, 102, 244);
      }
    }
  }

  .content-wrap {
    margin-top: 40px;
    background-color: white;
    border-radius: 12px;
    border: 0.5px solid lightgray;

    .content-header {
      @include flexBoxStyle(center, space-between, 0);
      padding: 16px 24px;
      border-bottom: 0.5px solid lightgray;

      h2 {
        font-size: 18px;
        font-weight: 550;
        color: black;
      }

      button {
        @include btn(auto, auto, 15px, black, white);
        opacity: 0.7;
        padding: 10px 15px;

        &:hover {
          @include hoverWhiteBtn(black, white);
          opacity: 1;
        }
      }
    }

    .table-wrap {
      overflow-x: auto;

      table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        thead {
          background-color: #f9fafb;

          border-bottom: 0.5px solid lightgray;

          tr {
            th {
              padding: 12px 24px;
              text-align: left;
              font-weight: 500;
              font-size: 12px;
              color: rgb(133, 133, 133);
              text-transform: uppercase;
            }
          }
        }
        tbody {
          tr {
            border-bottom: 0.5px solid lightgray;
            padding: 20px 24px;

            td {
              padding: 16px 24px;
              color: rgb(53, 53, 53);
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
