$purple-primary-color: #57298D;
$purple-secondary-color: #371661;
$purple-third-color: #361F5C;

$beige-primary-color: #F1F3E7;
$blue-primary-color: #EDF0F7;

$box-shadow-default: rgba(0, 0, 0, 0.4) 0px 0px 10px;

