$purple-primary-color: #57298d;
$purple-secondary-color: #371661;
$purple-third-color: #361f5c;

$beige-primary-color: #f1f3e7;
$blue-primary-color: #edf0f7;

$blue-admin-primary: #0077ff;

$box-shadow-default: rgba(0, 0, 0, 0.4) 0px 0px 10px;
