@use '~/styles/mixin.module.scss' as *;
@use '~/styles/variable.module.scss' as *;

.wrap {
  .summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Chia 2 cột bằng nhau */
    gap: 20px;

    .summary-box {
      width: 100%;
      color: white;
      padding: 24px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .top {
        @include flexBoxStyle(center, space-between, 0);
      }
      .bottom {
        @include flexBoxStyle(flex-end, space-between, 0);
        p {
          font-size: 26px;
          font-weight: 550;
        }

        span {
          font-size: 14px;
          font-weight: 500;
          background-color: rgb(17, 194, 17, 0.7);
          padding: 5px 10px;
          border-radius: 16px;
        }
      }

      &:first-child {
        background-color: $blue-admin-primary;
      }
      &:last-child {
        background-color: rgb(39, 227, 39);
      }
    }
  }

  .chart-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Chia 2 cột bằng nhau */
    gap: 20px; /* (tùy chọn) khoảng cách giữa các cột */
    margin-top: 30px;
  }
}
